body{
    background-color: #ffffff;
}

nav {
    text-align: center;
    font-size: 20px;
}

nav li{
display: inline-block;
text-align: center;


}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
    
}
h2{
    padding-left: 20px;
}

#img{
    float: right;
    width: 300px;
    height: 300px;
    padding-right: 20px;
    padding-bottom: 10px;
}

p#par{
padding-right: 600px;
font-size: 20px;
padding-left: 20px;
}

#div1{
    margin: 0px 160px 0px 160px ;
}

footer{
    text-align: center;
    font-size: 20px;
}

footer li{
    display: inline-block;
text-align: center;
}

a{
    color: #000000;
}

#div2{
    margin: 0px 170px 0px 170px;
}

.img2{
    margin: 0px 0px 10px 150px;
    border: 1px solid #000000;

}

b{
    text-decoration: underline;
}